/* CSS CHANGES MADE TO VIRSCEND UNIVERSITY SITE */




/* CSS HEADER CHANGES BEGIN HERE */

#global .row{
    padding-left: 2%;
    padding-right: 2%;
}

a, a.button  {
    cursor: pointer;
}

.container{
    margin: 0;
    width: 100%;
}

#global #header_logo{
    height: 55px;
}

#headertop .socialicons, .topmenu {
    float: left;
}

.sleek nav>.menu>li>a {
    font-size: 1rem;
    letter-spacing: 1px;
}

#global .menu-main-menu-container{
    padding-top: 0.5rem;
}

#global .topmenu{
    padding-top: 0.5rem;
}

#global #searchicon{
    font-weight: 700;
}

#global #searchicon i:hover{
   color: gray!important;
}

#global .topmenu i{
    padding-right: 5px;
}

#headertop, #headertop a, .sidemenu li a, #pmpro_confirmation_table thead, .pmpro_checkout thead th, #pmpro_levels_table thead, header.fixed .topmenu>li>a, header.fixed #searchicon, header.fixed nav>.menu>li>a{
    color: #0b2d51 !important;
}

/* Allows the original logo to be displayed */
.sleek #header_logo {
    display: block !important;
}

/* Hides the unwanted logo */
#global .sleek #header_alt_logo {
    display: none !important;
}

#global #content{
    padding-top: 60px !important;
}


/* ******************** M E D I A  Q U E R I E S ******************** */

@media only screen and (max-width: 1435px){

    #global .sleek nav .menu li a{
        font-size:12px;
    }

}